form {
  border: 5px solid rgb(255, 111, 74);
  border-radius: 10px;
  padding: 10px;
  margin: 64px auto;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: rgb(0, 118, 117);
  font-weight: bold;
  padding: 5px;
  font-size: 1.75rem;
}

button {
  color: white;
  font-size: 1.5rem;
  background-color: rgb(0, 118, 117);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  border: none;
  width: 400px;
  font-weight: bold;
  margin: 20px 0 15px 0;
  height: 48px;
}

input {
  height: 2rem;
  width: 310px;
}

select {
  height: 2.75rem;
  width: 310px;
}

input, select {
  border: 5px solid rgb(255,111,74);
  border-radius: 10px;
  margin: 15px;
  color: rgb(0,118,117);
  font-size: 1.5rem;
  font-weight: bold;
}